@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryFontColor: #262626;
  --secondaryFontColor: #767676;
  --thirdFontCOlor: #6d6d6d;
  --secondaryBgColor: #6d6d6d;
  --primaryBgColor: #ffffff;
  --DMsans: "DM Sans", sans-serif;
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

  body {
    background-color: #fff;
  }

  * {
    @apply m-0 p-0 outline-none box-border;
  }
  a {
    @apply no-underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  img,
  a,
  li,
  ol,
  ul {
    @apply p-0 m-0;
  }
  li,
  ol,
  ul {
    @apply list-none;
  }
  img {
    @apply align-middle;
  }

  #signUpButton svg {
    width: 22px;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
  }

  circle {
    fill: none;
    stroke: hsl(0, 0%, 100%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
  }

  @keyframes rotate4 {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash4 {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
}

.slick-dots .slick-active {
  opacity: 1;
}

.slick-dots ul li {
  font-family: var(--DMsans);
  opacity: 0;
}
